@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Music Video</h1>
    <iframe width="420" height="315"
            src="https://www.youtube.com/embed/uo0wCdGmBE0">
    </iframe>
</div>

<h1>My Javascript Animation</h1>
<p>
    <button onclick="myMove()">Click Me</button>
</p>

<div id="myContainer">
    <div id="myAnimation"></div>
</div>
